@page
@model MyToDoList.Models.RegisterDetails
@{
}


<div class="app">
    <header class="app-header">
        <div class="app-header-logo">
            <div style="float:right">
                <button class="user-profile">
                    <span>Hi @Model.Name you are now register.</span>
                </button>
            </div>
            <div class="logo">
                <h1 class="logo-title">
                    <span>My ToDo List</span>
                </h1>
            </div>
        </div>
    </header>
</div>
